@{
    ViewBag.Title = "Потвърдете имейла си";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Благодарим Ви, че потвърдихте имейла си. Моля @Html.ActionLink("Натиснете тук, за да влезете", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
