@model IEnumerable<Data.RepairType>

@{
    ViewBag.Title = "Index";
}

<h2>Видове проблеми</h2>


<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="~/RepairShops/Map/@item.Id">
                @Html.DisplayFor(modelItem => item.Name)
            </a>
        </td>
    </tr>
}

</table>
