@{
    ViewBag.Title = "За нас";
}
<h2>@ViewBag.Title.</h2>


<h1>Марин Андреев</h1>
<h2>email: marinandreev85@gmail.bg</h2>

<h1>---------------------------------------------</h1>

<h1>Симона Иванова</h1>
<h2>email: ivanovasimona787@gmail.bg</h2>
